src/main/mule/LLMbased-vCores-optimization.xml
<?xml version="1.0" encoding="UTF-8"?>                                                                                                        
<mule xmlns:ms-aichain="http://www.mulesoft.org/schema/mule/ms-aichain" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/ms-aichain http://www.mulesoft.org/schema/mule/ms-aichain/current/mule-ms-aichain.xsd">
    <http:request-config name="HTTP_Request_configuration-Anypoint" doc:name="HTTP Request configuration" doc:id="b76cf3af-b51d-43f8-b730-208d9c48cb50" >
		<http:request-connection host="anypoint.mulesoft.com" port="443" connectionIdleTimeout="3000000" protocol="HTTPS"/>
	</http:request-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="4b0ec282-5aea-4c4f-9ef3-240e4cac5f73" entryTtl="5" entryTtlUnit="MINUTES" expirationInterval="4"/>
	<configuration-properties doc:name="Configuration properties" doc:id="d324a0a2-01c9-46a5-8883-eea110900202" file="properties.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="b2aacc3c-32b8-4da1-96ff-c30a819c317c" file="properties.yaml" key="${security.key}" />
	
	<spring:config name="Spring_Config" doc:name="Spring Config" doc:id="2ec3a51b-5467-4895-b253-0135e65797aa" files="beans.xml" />
	<spring:security-manager doc:name="Spring Security manager" doc:id="237670d6-7e13-4abf-937b-dc5ac8b8e369" >
		
			<spring:delegate-security-provider name="mule" delegate-ref="authenticationManager" />
	     
	</spring:security-manager>
	<ms-aichain:config name="MuleSoft_AI_Chain_Config" llmType="OPENAI" configType="Configuration Json" modelName="gpt-4o" doc:name="MuleSoft AI Chain Config" doc:id="f98811c1-00f1-4d48-8269-08548884b136" filePath='#[mule.home ++ "/apps/" ++ app.name ++ "/envVars.json"]' />
	<apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="ef55958e-cd3c-440e-892e-f5e75d238689" name="LLMbased-vCores-optimization" api="LLMbased-vCores-optimization.raml" raml="api\LLMbased-vCores-optimization.raml">
	</apikit:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a81b14e5-4334-45a1-86db-afd1df41b8f8" basePath="/">
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="LLMbased-vCores-optimization-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>  
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <http:basic-security-filter doc:name="Basic security filter" doc:id="25ba7144-16cb-4165-9409-53df53289dec" realm="mule"/>
		<spring:authorization-filter doc:name="Authorization filter" doc:id="7b922030-ad7c-422a-b180-87c0dcb8fd57" requiredAuthorities="ROLE_ADMIN"/>
        <apikit:router doc:name="APIkit Router" doc:id="db86b488-1edc-41ac-a446-89fff16a0a00" config-ref="LLMbased-vCores-optimization"/>
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="exp-vcores-mgmt-api-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="LLMbased-vCores-optimization" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\list-apps:LLMbased-vCores-optimization">
		<spring:authorization-filter doc:name="Authorization filter" doc:id="1ddef2ab-34f0-4bdc-8beb-f83be59153ca" requiredAuthorities="ROLE_ADMIN" />
		<ee:transform doc:name="Set Env Var" doc:id="c20a94d4-7a5d-4e79-93ed-466028c29b5d" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="vEnv" ><![CDATA[attributes.queryParams.Environment]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Call Auth" doc:id="2b34b980-8c9a-417c-b561-4123eb9ad9bc" name="auth" />
		<http:request method="GET" doc:name="List Applications" doc:id="f857bca3-eebb-4d84-8c34-ed1cfe4a82e4" config-ref="HTTP_Request_configuration-Anypoint" path="/cloudhub/api/v2/applications" responseTimeout="600000">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.vToken,
	"X-ANYPNT-ORG-ID" : p('secure::credentials.org-id'),
	"X-ANYPNT-ENV-ID"  : vars.vEnv
	
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Format output" doc:id="0486d56c-611a-47e3-8d9b-2fcf91160429" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Arrays
output application/json
---
{
	"details1": payload filter ($.status != "UNDEPLOYED") map (item, index) -> 
	{
		"sl-no": index + 1,
		"app-name": item.domain,
		"status": item.status,
		"workers": item.workers."type".weight,
		"worker-size": item.workers.amount,
		"mule-version": item.muleVersion.version,
		"java-version": item.muleVersion.javaVersion,
		"isEditing": if ( item.staticIPsEnabled == true and item.status== "UNDEPLOYED" ) "true" else "false"
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="8b68d0a4-6d4e-4141-9dc2-b36a9ebca2ef" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "details1": [
    {
      "sl-no": 1,
      "app-name": "exp-cart-api",
      "status": "STARTED",
      "workers": 0.2,
      "worker-size": 1,
      "mule-version": "4.3.0",
      "java-version": "8",
      "isEditing": "false"
    },
    {
      "sl-no": 2,
      "app-name": "sys-sap-orders-api",
      "status": "STARTED",
      "workers": 0.2,
      "worker-size": 1,
      "mule-version": "4.3.0",
      "java-version": "8",
      "isEditing": "false"
    }]}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    
</flow>
    <flow name="get:\list-environments:LLMbased-vCores-optimization">
		<spring:authorization-filter doc:name="Authorization filter" doc:id="273b68f5-0a4a-4006-9385-72e2a82bb723" requiredAuthorities="ROLE_ADMIN" />
		<flow-ref doc:name="Call Auth" doc:id="e9d52ff5-8def-403e-9e44-5b2678b32b6e" name="auth" />
		<http:request method="GET" doc:name="List Environments" doc:id="ebd30d84-9325-4a11-a024-1383a71a74e0" config-ref="HTTP_Request_configuration-Anypoint" path="/accounts/api/organizations/{orgid}/environments" responseTimeout="600000">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.vToken,
	"X-ANYPNT-ORG-ID" : p('secure::credentials.org-id')
	
	
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"orgid" : p('secure::credentials.org-id')
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Show only non-prod envs" doc:id="d6b185ff-9863-41cc-925d-0e32aa97a6d3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  environments: payload.data filter $.isProduction == false map {
    id: $.id,
    name: $.name
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="de70d2db-5685-46c9-bfae-260c59d2dfaa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "environments": [
    {
      "id": "079bd0ea-4c2f-4ae0-b6ca-657d8680d959",
      "name": "DEV"
    },
    {
      "id": "f4afc35d-abce-4d5e-8684-4a9b61902412",
      "name": "SIT"
    },{
      "id": "079bd0ea-4c2f-4ae0-b6ca-657d8680d959",
      "name": "UAT"
    }]}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    
</flow>
    <flow name="post:\update-workers:application\json:LLMbased-vCores-optimization">
		<spring:authorization-filter doc:name="Authorization filter" doc:id="869b1cc6-c65f-492f-ae52-a4ad13b83fcd" requiredAuthorities="ROLE_ADMIN" />
		<set-payload value='#[{"worker":"MICRO","workerSize":1,"applicationName":"proc-abcamit-employee-api-v1-dev10","Environ":"5f5662d1-58bb-4aef-aca2-ef72715a0c7c"}]' doc:name="Set Payload" doc:id="7945dbbb-61df-4c38-852f-6dfe66cdfb3e" />
		<ee:transform doc:name="Set Variables" doc:id="06255f5f-388c-44a6-bdc2-abda4c52d6b0" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="vPayload" ><![CDATA[%dw 2.0
output application/json
---
{
    "workers": {
        "type": {
            "name": payload.worker
            //"weight": 0.1
           // "cpu": "0.1 vCores",
           // "memory": "500 MB memory"
        },
        "amount": payload.workerSize
    }
}]]></ee:set-variable>
				<ee:set-variable variableName="vAppName" ><![CDATA[payload.applicationName]]></ee:set-variable>
				<ee:set-variable variableName="vEnvId" ><![CDATA[payload.Environ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Call Auth" doc:id="66b95872-1ec8-4b3a-97a0-ec448edf167b" name="auth" />
		<http:request method="PUT" doc:name="Update workers on app" doc:id="1b056caa-1bda-416d-a83e-9ac606085896" config-ref="HTTP_Request_configuration-Anypoint" path="/cloudhub/api/v2/applications/{AppName}" responseTimeout="60000">
			<http:body ><![CDATA[#[vars.vPayload]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.vToken,
	"X-ANYPNT-ORG-ID" : p('secure::credentials.org-id'),
	"X-ANYPNT-ENV-ID"  : vars.vEnvId
	
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"AppName" : vars.vAppName
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Format response" doc:id="54371176-a4bb-4c2c-8fad-533aa591890e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message" : if (attributes.statusCode==200) "Updated Successfully!" else "Error",
	"ok" : true
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f1e3d61f-3318-427b-a301-ebc8e3b13e21" type="NOT_PERMITTED">
				<ee:transform doc:name="Transform Message" doc:id="e55d98bb-5044-4f86-93a2-be49eec9ac89" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Unauthorized!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
	<sub-flow name="auth" doc:id="a0e0f3f4-ed53-49f2-b393-4653bd476288" >
		<os:retrieve doc:id="66c4a0cb-1ad9-4b2b-be76-ff2acf3ec50a" key="token" objectStore="Object_store" target="vToken" doc:name="Retrieve" >
			<os:default-value ><![CDATA[auth]]></os:default-value>
		</os:retrieve>
		<choice doc:name="Choice" doc:id="e68b0f95-8d47-43a3-b711-ba5fc6899780" >
			<when expression='#[vars.vToken=="auth"]' >
				<http:request method="POST" doc:name="Request" doc:id="d91b56af-05e9-4f86-8db8-47334ce41044" config-ref="HTTP_Request_configuration-Anypoint" path="/accounts/api/v2/oauth2/token" target="vRespToken" responseTimeout="600000">
					<http:body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{

client_id: p('secure::credentials.client-id'),

client_secret: p('secure::credentials.client-secret'),

grant_type:"client_credentials"

}]]]></http:body>
					<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/x-www-form-urlencoded"
}]]]></http:headers>
				</http:request>
				<os:store doc:id="38c31cd0-7428-4d13-8cca-ec0fb7e5a805" key="token" objectStore="Object_store" doc:name="Store" >
					<os:value ><![CDATA[#[vars.vRespToken.access_token]]]></os:value>
				</os:store>
				<ee:transform doc:name="Transform Message" doc:id="54bfe853-2793-461f-b25a-7c2e59db978c" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="vToken" ><![CDATA[vars.vRespToken.access_token]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<remove-variable doc:name="Remove Variable" doc:id="72f604a7-700a-4cdc-a333-f0b7d0d536d4" variableName="vRespToken" />
			</when>
		</choice>
	</sub-flow>
	<flow name="post:\show-metrics:LLMbased-vCores-optimization" doc:id="e81b316c-9d07-4985-a341-d4f5699aa3d1" >
		<spring:authorization-filter doc:name="Authorization filter" doc:id="fc326e26-04ae-4ab2-8199-f9971c218374" requiredAuthorities="ROLE_ADMIN" />
		<set-payload value='#[{"Environ":"5f5662d1-58bb-4aef-aca2-ef72715a0c7c","applicationName":"sys-oracle-ucm-api-sit","workerSize":"MICRO","workers":"0.2","workerSizeValue":"1"}]' doc:name="Set Payload" doc:id="55f750e7-a7ef-4f57-bcf5-772cbee31703" />
		<ee:transform doc:name="Set Variables" doc:id="ab3eaf13-510d-4ea5-bbf0-4a0f7f045790" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vWorkerSize" ><![CDATA[payload.workerSize]]></ee:set-variable>
				<ee:set-variable variableName="vWorkers" ><![CDATA[payload.workers]]></ee:set-variable>
				<ee:set-variable variableName="vWorkerSizeValue" ><![CDATA[payload.workerSizeValue]]></ee:set-variable>
				<ee:set-variable variableName="vApplicationName" ><![CDATA[payload.applicationName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Call Auth" doc:id="42e289c7-a3d6-439b-bce6-bd8a4ce3f711" name="auth" />
		<ee:transform doc:name="Set start and end time" doc:id="5382e9a0-bf7a-44e5-ad33-81e804430331" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="startDate" ><![CDATA[now()-|P5D|]]></ee:set-variable>
				<ee:set-variable variableName="endDate" ><![CDATA[now()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Call Stats API" doc:id="c21fa079-4f19-49bd-a39e-c8b1e05a22af" config-ref="HTTP_Request_configuration-Anypoint" path="/cloudhub/api/v2/applications/{api-name}/dashboardStats" responseTimeout="900000" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.vToken,
	"X-ANYPNT-ORG-ID" : p('secure::credentials.org-id'),
	"X-ANYPNT-ENV-ID" : payload.Environ
	
	
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"api-name" : payload.applicationName
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/json
---
{
	"statistics" : "cpu",
	"statistics" : "memoryPercentageUsed",
	//"statistics" : "memoryTotalUsed",
	"startDate":vars.startDate as String,
"endDate":vars.endDate as String
	
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Save Payload in Stats variable" doc:id="4b8511a4-bce2-4223-b8ba-ac4fef5831cf" >
			<ee:message >
			
</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vStats" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		
</ee:transform>
		<ee:transform doc:name="Transform stats format" doc:id="e1596a47-0004-43f3-8f01-b596b7cd7722">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json indent=false
fun roundToOneDecimal(num) = floor(num * 10) / 10

---
{
    timeFrom: vars.startDate,
    timeTo: vars.endDate,
    eventsBetweenTimeFromAndTimeTo: payload.events pluck $ filter (item) -> item != 0,
    workerStatistics: payload.workerStatistics map {
        id: $.id,
        statistics: {
            memoryPercentageUsedBetweenTimeFromAndTimeTo: $.statistics.memoryPercentageUsed pluck roundToOneDecimal($),
            cpuBetweenTimeFromAndTimeTo: $.statistics.cpu pluck roundToOneDecimal($)
        }
    }
    
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dedd3653-06a9-4a32-8fcb-553a1f46b82d" message="#[payload]"/>
		<set-payload value='#[%dw 2.0&#10;output application/java&#10;---&#10;{"timeFrom": "2021-11-21T11:11:11.111Z","timeTo": "2021-12-01T11:11:11.113Z","eventsBetweenTimeFromAndTimeTo": [112,110,110,111,111,110,110,110,112,110,112,110,111,111,110,110,111,111,110,110,111,111,111,111,111,110,111,111,112,111,111,111,111,111,111,110,111,112,120,110,111,112,111,110,111,111,111,112,110,110,112,111,111,112,112,110,111,111,110,111,110,111,111,112,111,111,111,110,112,110,110,111,112,110,110,111,110,111,112,111,110,110,111,111,112,111,111,111,130,111,111,111,110,112,111,111,112,111,111,110,111,110,110,112,111,111,111,111,110,111,110,111,110,112,112,110,110,111,111,111,111,111,111,111,110,112,111,111,111,110,110,111,111,110,111,110,111,111,110,110,131,111,131,112,131,122,121,131,111,111,110,121,111,111,121,120,111,112,111,111,111,112,111,112,111,111,111,111,112,110,111,110,111,112,110,131,120,121,112,111,111,111,112,111,111,110,111,111,131,111,111,122,111,111,112,111,111,111,111,111,121,111,111,112,111,111,111,111,111,111,111,111,111,111,111,110,110,112,111,112,132,121,121,131,121,110,110,112,110,111,112,110,111,111,111,111,110,121,11,112,101,131,121,112,110,111,111,111,111,111],"workerStatistics": [{"id": "i-09f01c190ec21e132","statistics": {"memoryPercentageUsedBetweenTimeFromAndTimeTo": [13.1,12.1,11.1,11.3,11.1,11.2,11.1,11,12.1,11,11.3,11,11.1,11.1,11,11.2,11.1,11.1,13.3,11.9,11.1,11.1,11.9,11.1,11.1,13.3,11.3,12.1,11.9,13.9,13.1,11.9,11.1,11.2,11.2,11.1,11.9,13.1,11.1,11.1,11.1,11.9,11.1,11.1,11.1,11.1,11.1,11.1,11.1,11.1,11.1,11.1,11.1,11.2,11.9,11.1,11.1,11.1,11.1,11.1,11,11.1,11.2,11.1,11.3,11.1,11.1,11.1,11.1,11.1,11.9,11.1,11.9,11.1,11,11.1,11,11,11.1,11.1,11,11.1,11.1,11,11.9,11.1,11.1,11.1,11.1,11.1,11.3,11,11.1,11,11.1,19.1,11.3,19.1,11.3,11.1,19.1,11.9,11.1,11.9,11,11.2,11,11.3,19.2,11.1,11,11.1,11.2,11,11.9,11.2,11,19.1,11.1,11.1,11.1,11.1,11.1,19.1,19.1,11,19,11.9,11.1,11.1,11.1,11.1,19.1,11.1,19.1,11.9,19.2,19.1,11.1,11.9,11.3,10.2,19.1,10.1,11.1,11.9,19.1,19.1,19,11.1,19,10.1,11.1,19.1,19.1,19,10.3,19,11,10.1,11.1,19,10.1,19.1,10.1,11.3,19.1,19.1,19.9,10.3,19.3,10.1,19.9,11.2,19.1,11.3,11.3,19.1,11.1,10.1,11.1,10.3,11.1,10.1,11,10.1,10.2,11.1,10.1,10.1,11.1,11.1,10.1,10.1,12,11.1,11.9,11.1,12,10.1,12.1,11.9,11.3,10.3,11.1,10.1,10.1,11.3,12.1,11.3,11.1,11.3,11.2,12.1,11.2,11.1,13,12.1,11,11.1,12.1,11.1,12.1,11.1,13.2,12.1,12.3,12.1,11.9,12.1,13.3,12.1,13.1,12.2,11.1,12.1,12.2,13.1,12.1,12.1,13,12.3,12.1,12.3,13,12.1,12.1,13.2,12.1,12.3,11.1,13.1,13.2,12.9,13,13.1,13.1,13.1,13.2,11,12.1,11,12.1,11.2,11.1,12.1,11.1,12.1,13.2,13.1,11.1,11.1,11.1,13.9,13,13.1,13.1,13.1,13.2,13.1,12.2,13.1,13.1,13.1,13.1,11.1,11.1,11.3,11.2,12.1,13.9,11,11.1,11.1,11.2,11.2,11.1,11,11,11.9,11.3,11.1,11.1,11.1,11.2,11.1,11,11.1,11.9,11.9,11.1,11.1,11.1,11.1,11,11.1,11.3,11.1,11.9,11.3,11.1,11.1,11.2,11.2,11.1,11.1,11.1,11.1,11.1,11.1,12.9,11.3,11.1,11.1,11,11.1,11.9,11.9,11.9,11.1,11.1,11.2,11,11,11.1,11.2,11.1,11.1,11.3,11.1,11.1,11.3,11.1,11.1,11.1,11.1,11.9,11.1,11.1,11.1,11.1,11.1,11.9,11.1,11.1,11,11.9,11.9,11.9,11.9,11,11.9,11,11.2,11,11.1,11.1,11.2,11.3,11.3,11.1,11.1,11.1,11.1,11.1,19.2,11.2,10.2,11.9,11.1,19.1,12.1,10.1,10.1,11.1,11.3,11.2,11.1,11.2,11.1,11.1,11.3,11,19.1,11.1,19.1,11,11,11.3,11.3,11.3,11.1,10.1,11.1,19.9,10.3,10.1,19.9,11.1,10,10.1,19.1,19.9,10.1,10.1,11.3,19.1,11.1,11.2,11.9,19.1,11.3,19.1,11.1,19,19.9,11.2,10.3,11.9,19.1,10.1,10.9,10.1,10.1,10.1,11.1,10,12.3,10.2,12.2,10.2,10.1,11.1,11.1,10.9,11.1,11.2,12.2,13.1,12.1,12.1,13.1,11.1,13.1,11.1,10.1,19.1,19.3,10,12.1,12.1,12.3,12,10.3,12.1,12.3,11.1,13.1,11.2,11.1],"cpuBetweenTimeFromAndTimeTo": [3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,1,3.1,3.1,3.1,3.1,3.9,3.9,3.1,3.9,3.9,3.9,1,3.9,1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.9,1.1,3.9,3.1,3.1,3.9,3.1,3.1,3.1,3.1,3.1,1,3.1,3.9,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.9,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.9,3.1,3.9,3.9,3.9,3.1,3.1,3.9,3.9,3.1,3.1,3.9,1,3.9,3.9,1,1,3.9,3.1,3.9,1,1,1,1.1,1,3.9,3.9,1.1,3.9,1,3.1,3.9,1.1,1.1,1.1,1.1,1.1,1,1,1,1.1,1.1,1.1,1,1.1,1.1,1.1,1,3.1,3.1,1.1,1.1,1.1,1.1,1.1,1.1,3.9,1,1.1,1.1,3.9,3.9,1.1,1.2,1.2,1,1,1.1,1.1,1,1.1,1.2,1.2,1,1,1.2,1.1,1.1,1,1,1.1,3.9,1,1,1,1.1,1,1.1,1,1.1,1.1,1.1,1.2,1.1,1.1,1.3,1.2,1.1,1.1,1.1,1.3,1.1,1.3,1.2,1.2,1.1,1.3,1.1,1.3,1.3,1.1,1.1,1.1,1.1,1.1,1.2,1.3,1.1,1.3,1.2,1.2,1.3,1,1.1,1.1,1.3,1.2,1.1,1.3,1.3,1,3.9,1.1,1.2,1,1.2,1,1.1,1.3,1.3,1.2,1.3,1.1,1.1,1.3,1.1,1.1,1.1,1.3,1.2,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.9,1.9,1.1,1.1,1.9,1,1.9,1.1,1.1,1,1,1.1,1.2,1.3,1.1,1.2,1.3,1.1,1.2,1.1,1.1,1.1,1.9,1.1,1.2,1.1,1.1,1.1,1.1,1.1,1,1.9,1,1.1,1.1,1.2,1.2,1.1,1.1,1.1,1.1,1.9,1.3,1.1,1,1.1,1.1,1.1,1,1.9,1.1,1.1,1.1,9.1,9,10.1,10.1,11.1,12.1,13.2,13.1,11.3,11.2,20.3,22.9,29.9,31.1,33,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.3,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.3,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.3,3.1,3.3,3.1,3.1,3.1,3.1,3.3,3.1,3.3,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.1,3.3,3.1,3.3,3.1,3.1,3.3,3.1,3.3,3.1,3.3,3.3,3.3,3.2,3.1,3.1,3.3,3.3,3.2,3.1,3.3,3.1,3.1,3.1,3.1,3.3,3.1,3.1,3.1,3.3,3.3,3.1,3.1,3.1,3.1,3.1]}}]}]' doc:name="Set Payload" doc:id="2fa7fae5-4ff9-43ff-9f36-d99044939239" />
		<!-- [STUDIO:"Agent define prompt template"]<ms-aichain:agent-define-prompt-template doc:name="Agent define prompt template" doc:id="7b8fb826-7937-464d-9ec3-fe15f8a99f43" config-ref="MuleSoft_AI_Chain_Config">
			<ms-aichain:dataset ><![CDATA[#[%dw 2.0
output text/plain
&#45;&#45;-
write(payload, "application/json",  { "indent": false })&#93;&#93;&#93;></ms-aichain:dataset>
			<ms-aichain:template ><![CDATA[provide the response in json with fields AI-Suggested-WorkerSize, AI-Suggested-Workers, analysisOfDataset(maxCpuUsagePercentage,maxMemoryUsagePercentage,avgCpuUsagePercentage,avgMemoryUsagePercentage) and justification. AI-Suggested-WorkerSize and AI-Suggested-Workers will be same as existing settings if no changes are needed. If changes are needed then suggest the new settings in AI-Suggested-WorkerSize and AI-Suggested-Workers. Note that Maximum workers possible in mule is 8. The vcore sizes available are 0.1,0.2,1,2,4,8,16.&#93;&#93;></ms-aichain:template>
			<ms-aichain:instructions ><![CDATA[#["Given the dataset with statistics for events, CPU usage, and memory usage of Mule API application " ++ vars.vApplicationName ++ ", and the current worker size of " ++ vars.vWorkerSizeValue ++ " with number of workers as " ++ vars.vWorkers ++ ", determine the optimal worker size and worker settings. Suggest minimal vcores settings to avoid wasting vcores. Use the provided data and do not make assumptions. You may refer to this link: https://docs.mulesoft.com/cloudhub/cloudhub-architecture."&#93;&#93;&#93;></ms-aichain:instructions>
		</ms-aichain:agent-define-prompt-template> [STUDIO] -->
		<ms-aichain:chat-answer-prompt doc:name="Chat answer prompt" doc:id="b3af2104-2cbf-4903-9f9a-3c23462d7f1f" config-ref="MuleSoft_AI_Chain_Config">
			<ms-aichain:prompt ><![CDATA[#[%dw 2.0
output application/java
---
"based on the data set provided can you specify if I need to reduce the worker size of my mule application. currently its 0.2 workers size with number of workers as 1. Note that Maximum number workers possible in mule is 8. The worker sizes available are 0.1,0.2,1,2,4,8,16. Use below data set " ++ write(payload, "application/json")]]]></ms-aichain:prompt>
		</ms-aichain:chat-answer-prompt>
		<ee:transform doc:name="Read LLM suggested vCores Response" doc:id="828590ce-3b7f-48a8-8434-44ecb7742523" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.response]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="46e174a9-2c5e-4b2f-890b-d4eb7ebad7e8" message="#[payload]"/>
		<ee:transform doc:name="Format Stats to display in JChart" doc:id="9dabae5a-19ff-4f66-bf79-77e61f8dc5b7" >
			<ee:message >
				<ee:set-payload ><![CDATA[fun transformEvents(events) =
    {
        "events": events
    }

fun transformWorkerStatistics(workerStatistics, type1) =
    workerStatistics map ((ws) ->
        {
            "id": ws.id,
            "statistics": {
                (type1): (ws.statistics[type1] pluck ((v, k) -> {
                    (k):   v as String {format: "0.0", roundMode:"UP"} as Number 
                })) reduce ((item, accumulator = {}) -> accumulator ++ item)
            } 
        }
    )
---
{
	"AI-Suggestions" : payload,
    "events": transformEvents(vars.vStats.events),
    "cpu": transformWorkerStatistics(vars.vStats.workerStatistics, "cpu"),
    "memory": transformWorkerStatistics(vars.vStats.workerStatistics, "memoryPercentageUsed")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<!-- [STUDIO:"Logger"]<logger level="INFO" doc:name="Logger" doc:id="77dae2e1-9ee9-4daf-83da-867dd6be4636" message="#[payload&#93;"/> [STUDIO] -->
		<!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message" doc:id="74959e0b-5d16-48d7-9979-d1043882d966" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  "AI-Suggestions": {
    "AI-Suggested-WorkerSize": 0.1,
    "AI-Suggested-Workers": 1,
    "analysisOfDataset": {
      "maxCpuUsagePercentage": 87.5,
      "maxMemoryUsagePercentage": 85.7,
      "avgCpuUsagePercentage": 54.48,
      "avgMemoryUsagePercentage": 63.86
    },
    "justification": "Based on the provided dataset, the current worker size of 0.1 and number of workers as 1 seem to be sufficient. The maximum CPU and memory usage observed are within reasonable limits for the current worker settings. The average CPU and memory usage also indicate that the current settings are handling the load effectively. Hence, no changes are suggested."
  },
  "events": {
    "events": {
      "1732631574000": 170,
      "1732633302000": 172,
      "1732635030000": 170,
      "1732636758000": 166,
      "1732638486000": 164,
      "1732640214000": 168,
      "1732641942000": 170,
      "1732643670000": 170,
      "1732645398000": 172,
      "1732647126000": 164,
      "1732648854000": 170,
      "1732650582000": 166,
      "1732652310000": 170,
      "1732654038000": 170,
      "1732655766000": 164,
      "1732657494000": 168,
      "1732659222000": 160,
      "1732660950000": 172,
      "1732662678000": 168,
      "1732664406000": 166,
      "1732666134000": 170,
      "1732667862000": 170,
      "1732669590000": 162,
      "1732671318000": 166,
      "1732673046000": 160,
      "1732674774000": 166,
      "1732676502000": 170,
      "1732678230000": 168,
      "1732679958000": 166,
      "1732681686000": 162,
      "1732683414000": 166,
      "1732685142000": 172,
      "1732686870000": 168,
      "1732688598000": 164,
      "1732690326000": 162,
      "1732692054000": 162,
      "1732693782000": 166,
      "1732695510000": 166,
      "1732697238000": 168,
      "1732698966000": 162,
      "1732700694000": 170,
      "1732702422000": 164,
      "1732704150000": 170,
      "1732705878000": 164,
      "1732707606000": 158,
      "1732709334000": 120,
      "1732711062000": 146,
      "1732712790000": 160,
      "1732714518000": 144,
      "1732716246000": 158,
      "1732717974000": 166,
      "1732719702000": 164,
      "1732721430000": 168,
      "1732723158000": 158,
      "1732724886000": 158,
      "1732726614000": 166,
      "1732728342000": 158,
      "1732730070000": 158,
      "1732731798000": 148,
      "1732733526000": 146,
      "1732735254000": 164,
      "1732736982000": 166,
      "1732738710000": 158,
      "1732740438000": 166,
      "1732742166000": 146,
      "1732743894000": 142,
      "1732745622000": 152,
      "1732747350000": 170,
      "1732749078000": 146,
      "1732750806000": 160,
      "1732752534000": 166,
      "1732754262000": 170,
      "1732755990000": 166,
      "1732757718000": 168,
      "1732759446000": 164,
      "1732761174000": 164,
      "1732762902000": 172,
      "1732764630000": 170,
      "1732766358000": 168,
      "1732768086000": 154,
      "1732769814000": 158,
      "1732771542000": 152,
      "1732773270000": 168,
      "1732774998000": 168,
      "1732776726000": 164,
      "1732778454000": 166,
      "1732780182000": 168,
      "1732781910000": 170,
      "1732783638000": 160,
      "1732785366000": 158,
      "1732787094000": 156,
      "1732788822000": 166,
      "1732790550000": 148,
      "1732792278000": 168,
      "1732794006000": 156,
      "1732795734000": 138,
      "1732797462000": 144,
      "1732799190000": 166,
      "1732800918000": 164,
      "1732802646000": 144,
      "1732804374000": 150,
      "1732806102000": 160,
      "1732807830000": 166,
      "1732809558000": 150,
      "1732811286000": 164,
      "1732813014000": 150,
      "1732814742000": 160,
      "1732816470000": 166,
      "1732818198000": 168,
      "1732819926000": 154,
      "1732821654000": 166,
      "1732823382000": 140,
      "1732825110000": 168,
      "1732826838000": 170,
      "1732828566000": 158,
      "1732830294000": 166,
      "1732832022000": 166,
      "1732833750000": 166,
      "1732835478000": 160,
      "1732837206000": 162,
      "1732838934000": 170,
      "1732840662000": 170,
      "1732842390000": 168,
      "1732844118000": 162,
      "1732845846000": 164,
      "1732847574000": 166,
      "1732849302000": 166,
      "1732851030000": 170,
      "1732852758000": 160,
      "1732854486000": 162,
      "1732856214000": 168,
      "1732857942000": 170,
      "1732859670000": 162,
      "1732861398000": 168,
      "1732863126000": 158,
      "1732864854000": 166,
      "1732866582000": 170,
      "1732868310000": 172,
      "1732870038000": 168,
      "1732871766000": 160,
      "1732873494000": 166,
      "1732875222000": 170,
      "1732876950000": 168,
      "1732878678000": 164,
      "1732880406000": 162,
      "1732882134000": 160,
      "1732883862000": 144,
      "1732885590000": 134,
      "1732887318000": 136,
      "1732889046000": 130,
      "1732890774000": 170,
      "1732892502000": 132,
      "1732894230000": 124,
      "1732895958000": 126,
      "1732897686000": 124,
      "1732899414000": 122,
      "1732901142000": 118,
      "1732902870000": 142,
      "1732904598000": 134,
      "1732906326000": 142,
      "1732908054000": 160,
      "1732909782000": 126,
      "1732911510000": 116,
      "1732913238000": 114,
      "1732914966000": 158,
      "1732916694000": 148,
      "1732918422000": 166,
      "1732920150000": 170,
      "1732921878000": 160,
      "1732923606000": 162,
      "1732925334000": 170,
      "1732927062000": 164,
      "1732928790000": 164,
      "1732930518000": 168,
      "1732932246000": 150,
      "1732933974000": 168,
      "1732935702000": 162,
      "1732937430000": 154,
      "1732939158000": 168,
      "1732940886000": 162,
      "1732942614000": 166,
      "1732944342000": 144,
      "1732946070000": 138,
      "1732947798000": 120,
      "1732949526000": 124,
      "1732951254000": 140,
      "1732952982000": 166,
      "1732954710000": 160,
      "1732956438000": 168,
      "1732958166000": 160,
      "1732959894000": 158,
      "1732961622000": 166,
      "1732963350000": 168,
      "1732965078000": 166,
      "1732966806000": 162,
      "1732968534000": 146,
      "1732970262000": 164,
      "1732971990000": 118,
      "1732973718000": 120,
      "1732975446000": 156,
      "1732977174000": 158,
      "1732978902000": 162,
      "1732980630000": 164,
      "1732982358000": 170,
      "1732984086000": 147,
      "1732985814000": 163,
      "1732987542000": 156,
      "1732989270000": 128,
      "1732990998000": 168,
      "1732992726000": 162,
      "1732994454000": 168,
      "1732996182000": 168,
      "1732997910000": 166,
      "1732999638000": 166,
      "1733001366000": 164,
      "1733003094000": 158,
      "1733004822000": 170,
      "1733006550000": 168,
      "1733008278000": 164,
      "1733010006000": 148,
      "1733011734000": 168,
      "1733013462000": 163,
      "1733015190000": 151,
      "1733016918000": 164,
      "1733018646000": 144,
      "1733020374000": 160,
      "1733022102000": 160,
      "1733023830000": 128,
      "1733025558000": 120,
      "1733027286000": 130,
      "1733029014000": 138,
      "1733030742000": 126,
      "1733032470000": 142,
      "1733034198000": 158,
      "1733035926000": 158,
      "1733037654000": 158,
      "1733039382000": 162,
      "1733041110000": 164,
      "1733042838000": 168,
      "1733044566000": 158,
      "1733046294000": 154,
      "1733048022000": 168,
      "1733049750000": 164,
      "1733051478000": 156,
      "1733053206000": 118,
      "1733054934000": 96,
      "1733056662000": 142,
      "1733058390000": 114,
      "1733060118000": 134,
      "1733061846000": 114,
      "1733063574000": 0
    }
  },
  "cpu": [
    {
      "id": "i-09f01c890ec21e132",
      "statistics": {
        "cpu": {
          "1732631520000": 3.7,
          "1732632420000": 3.8,
          "1732633320000": 3.7,
          "1732634220000": 3.6,
          "1732635120000": 3.6,
          "1732636020000": 3.8,
          "1732636920000": 3.6,
          "1732637820000": 3.8,
          "1732638720000": 3.9,
          "1732639620000": 3.8,
          "1732640520000": 3.7,
          "1732641420000": 3.9,
          "1732642320000": 3.9,
          "1732643220000": 3.8,
          "1732644120000": 3.9,
          "1732645020000": 3.7,
          "1732645920000": 3.9,
          "1732646820000": 3.9,
          "1732647720000": 3.8,
          "1732648620000": 3.7,
          "1732649520000": 3.8,
          "1732650420000": 3.8,
          "1732651320000": 3.8,
          "1732652220000": 3.7,
          "1732653120000": 3.8,
          "1732654020000": 3.9,
          "1732654920000": 3.8,
          "1732655820000": 3.8,
          "1732656720000": 3.7,
          "1732657620000": 3.8,
          "1732658520000": 3.7,
          "1732659420000": 3.6,
          "1732660320000": 3.6,
          "1732661220000": 3.7,
          "1732662120000": 3.7,
          "1732663020000": 3.6,
          "1732663920000": 3.6,
          "1732664820000": 3.6,
          "1732665720000": 3.7,
          "1732666620000": 3.7,
          "1732667520000": 3.8,
          "1732668420000": 3.6,
          "1732669320000": 3.8,
          "1732670220000": 3.6,
          "1732671120000": 3.6,
          "1732672020000": 3.5,
          "1732672920000": 3.7,
          "1732673820000": 3.6,
          "1732674720000": 3.6,
          "1732675620000": 3.5,
          "1732676520000": 3.7,
          "1732677420000": 3.6,
          "1732678320000": 3.7,
          "1732679220000": 3.6,
          "1732680120000": 3.6,
          "1732681020000": 3.7,
          "1732681920000": 3.7,
          "1732682820000": 3.6,
          "1732683720000": 3.6,
          "1732684620000": 3.7,
          "1732685520000": 3.7,
          "1732686420000": 3.6,
          "1732687320000": 3.6,
          "1732688220000": 3.7,
          "1732689120000": 3.7,
          "1732690020000": 3.6,
          "1732690920000": 3.6,
          "1732691820000": 3.7,
          "1732692720000": 3.8,
          "1732693620000": 3.7,
          "1732694520000": 3.7,
          "1732695420000": 3.6,
          "1732696320000": 3.8,
          "1732697220000": 4.1,
          "1732698120000": 3.9,
          "1732699020000": 3.8,
          "1732699920000": 3.8,
          "1732700820000": 3.9,
          "1732701720000": 4.1,
          "1732702620000": 3.9,
          "1732703520000": 3.9,
          "1732704420000": 4,
          "1732705320000": 4,
          "1732706220000": 4,
          "1732707120000": 4.1,
          "1732708020000": 4.1,
          "1732708920000": 4,
          "1732709820000": 3.7,
          "1732710720000": 3.8,
          "1732711620000": 3.9,
          "1732712520000": 3.9,
          "1732713420000": 3.9,
          "1732714320000": 3.6,
          "1732715220000": 3.8,
          "1732716120000": 4,
          "1732717020000": 4.2,
          "1732717920000": 4,
          "1732718820000": 3.8,
          "1732719720000": 4,
          "1732720620000": 4,
          "1732721520000": 3.8,
          "1732722420000": 3.8,
          "1732723320000": 3.9,
          "1732724220000": 3.8,
          "1732725120000": 3.9,
          "1732726020000": 4,
          "1732726920000": 3.9,
          "1732727820000": 4,
          "1732728720000": 3.9,
          "1732729620000": 3.8,
          "1732730520000": 3.9,
          "1732731420000": 3.8,
          "1732732320000": 3.8,
          "1732733220000": 3.8,
          "1732734120000": 3.8,
          "1732735020000": 3.8,
          "1732735920000": 4,
          "1732736820000": 3.8,
          "1732737720000": 3.7,
          "1732738620000": 3.8,
          "1732739520000": 3.7,
          "1732740420000": 3.8,
          "1732741320000": 3.8,
          "1732742220000": 3.9,
          "1732743120000": 3.7,
          "1732744020000": 3.9,
          "1732744920000": 3.6,
          "1732745820000": 3.7,
          "1732746720000": 3.8,
          "1732747620000": 3.8,
          "1732748520000": 3.8,
          "1732749420000": 3.6,
          "1732750320000": 3.8,
          "1732751220000": 3.9,
          "1732752120000": 3.8,
          "1732753020000": 3.8,
          "1732753920000": 3.8,
          "1732754820000": 3.9,
          "1732755720000": 3.8,
          "1732756620000": 3.8,
          "1732757520000": 3.7,
          "1732758420000": 3.8,
          "1732759320000": 3.8,
          "1732760220000": 4,
          "1732761120000": 3.8,
          "1732762020000": 3.7,
          "1732762920000": 3.9,
          "1732763820000": 3.8,
          "1732764720000": 3.9,
          "1732765620000": 3.8,
          "1732766520000": 3.9,
          "1732767420000": 3.9,
          "1732768320000": 3.8,
          "1732769220000": 3.7,
          "1732770120000": 3.8,
          "1732771020000": 3.9,
          "1732771920000": 3.9,
          "1732772820000": 3.9,
          "1732773720000": 3.8,
          "1732774620000": 3.9,
          "1732775520000": 3.9,
          "1732776420000": 3.9,
          "1732777320000": 3.8,
          "1732778220000": 3.9,
          "1732779120000": 3.9,
          "1732780020000": 4,
          "1732780920000": 3.9,
          "1732781820000": 4,
          "1732782720000": 4,
          "1732783620000": 4,
          "1732784520000": 4,
          "1732785420000": 3.9,
          "1732786320000": 4,
          "1732787220000": 3.9,
          "1732788120000": 3.8,
          "1732789020000": 3.9,
          "1732789920000": 4,
          "1732790820000": 4.1,
          "1732791720000": 4,
          "1732792620000": 4,
          "1732793520000": 4.1,
          "1732794420000": 4.1,
          "1732795320000": 4.1,
          "1732796220000": 3.9,
          "1732797120000": 3.9,
          "1732798020000": 4.1,
          "1732798920000": 4.2,
          "1732799820000": 4,
          "1732800720000": 4.2,
          "1732801620000": 4.1,
          "1732802520000": 3.9,
          "1732803420000": 4.1,
          "1732804320000": 4.2,
          "1732805220000": 4,
          "1732806120000": 4,
          "1732807020000": 3.8,
          "1732807920000": 4.2,
          "1732808820000": 4.1,
          "1732809720000": 4.2,
          "1732810620000": 4.2,
          "1732811520000": 4.1,
          "1732812420000": 4.2,
          "1732813320000": 4.1,
          "1732814220000": 4.1,
          "1732815120000": 4.2,
          "1732816020000": 4.2,
          "1732816920000": 4.2,
          "1732817820000": 4.2,
          "1732818720000": 4.1,
          "1732819620000": 4.2,
          "1732820520000": 4.2,
          "1732821420000": 4.1,
          "1732822320000": 4,
          "1732823220000": 4,
          "1732824120000": 4,
          "1732825020000": 4.3,
          "1732825920000": 4.2,
          "1732826820000": 4.1,
          "1732827720000": 4.2,
          "1732828620000": 4.2,
          "1732829520000": 4.1,
          "1732830420000": 4,
          "1732831320000": 4.1,
          "1732832220000": 4.1,
          "1732833120000": 4.2,
          "1732834020000": 4,
          "1732834920000": 4,
          "1732835820000": 4.3,
          "1732836720000": 4.2,
          "1732837620000": 4.3,
          "1732838520000": 4.2,
          "1732839420000": 4.1,
          "1732840320000": 4.2,
          "1732841220000": 4.2,
          "1732842120000": 4.1,
          "1732843020000": 4.2,
          "1732843920000": 4.3,
          "1732844820000": 4.3,
          "1732845720000": 4.1,
          "1732846620000": 4.1,
          "1732847520000": 4.3,
          "1732848420000": 4.2,
          "1732849320000": 4.2,
          "1732850220000": 4.1,
          "1732851120000": 4.2,
          "1732852020000": 4,
          "1732852920000": 4.1,
          "1732853820000": 4.1,
          "1732854720000": 4.1,
          "1732855620000": 4.2,
          "1732856520000": 4.1,
          "1732857420000": 4.3,
          "1732858320000": 4.1,
          "1732859220000": 4.2,
          "1732860120000": 4.2,
          "1732861020000": 4.2,
          "1732861920000": 4.3,
          "1732862820000": 4.3,
          "1732863720000": 4.6,
          "1732864620000": 4.5,
          "1732865520000": 4.3,
          "1732866420000": 4.6,
          "1732867320000": 4.6,
          "1732868220000": 4.5,
          "1732869120000": 4.5,
          "1732870020000": 4.4,
          "1732870920000": 4.5,
          "1732871820000": 4.3,
          "1732872720000": 4.3,
          "1732873620000": 4.4,
          "1732874520000": 4.5,
          "1732875420000": 4.4,
          "1732876320000": 4.5,
          "1732877220000": 4.3,
          "1732878120000": 4.6,
          "1732879020000": 4.5,
          "1732879920000": 4.5,
          "1732880820000": 4.5,
          "1732881720000": 4.6,
          "1732882620000": 4.5,
          "1732883520000": 4.3,
          "1732884420000": 4.4,
          "1732885320000": 4.1,
          "1732886220000": 4.5,
          "1732887120000": 4.3,
          "1732888020000": 4.2,
          "1732888920000": 4.5,
          "1732889820000": 4.1,
          "1732890720000": 4.6,
          "1732891620000": 4.5,
          "1732892520000": 4.3,
          "1732893420000": 4.3,
          "1732894320000": 4.3,
          "1732895220000": 4.3,
          "1732896120000": 4.4,
          "1732897020000": 4,
          "1732897920000": 4.2,
          "1732898820000": 4.6,
          "1732899720000": 4.1,
          "1732900620000": 4.2,
          "1732901520000": 4.2,
          "1732902420000": 4.2,
          "1732903320000": 4.6,
          "1732904220000": 4.4,
          "1732905120000": 4.2,
          "1732906020000": 4.4,
          "1732906920000": 4.5,
          "1732907820000": 4.6,
          "1732908720000": 4.5,
          "1732909620000": 4.4,
          "1732910520000": 4.2,
          "1732911420000": 4.2,
          "1732912320000": 4.2,
          "1732913220000": 4.4,
          "1732914120000": 4.3,
          "1732915020000": 4.5,
          "1732915920000": 4.6,
          "1732916820000": 4.6,
          "1732917720000": 4.5,
          "1732918620000": 4.7,
          "1732919520000": 4.5,
          "1732920420000": 4.7,
          "1732921320000": 4.8,
          "1732922220000": 4.7,
          "1732923120000": 4.6,
          "1732924020000": 4.8,
          "1732924920000": 4.7,
          "1732925820000": 4.8,
          "1732926720000": 4.7,
          "1732927620000": 4.8,
          "1732928520000": 4.9,
          "1732929420000": 4.8,
          "1732930320000": 5,
          "1732931220000": 4.9,
          "1732932120000": 4.8,
          "1732933020000": 4.9,
          "1732933920000": 5,
          "1732934820000": 5.1,
          "1732935720000": 5,
          "1732936620000": 5.1,
          "1732937520000": 4.9,
          "1732938420000": 5,
          "1732939320000": 5.2,
          "1732940220000": 5.2,
          "1732941120000": 5.3,
          "1732942020000": 5.2,
          "1732942920000": 5.4,
          "1732943820000": 5.3,
          "1732944720000": 5.2,
          "1732945620000": 4.9,
          "1732946520000": 5.2,
          "1732947420000": 4.7,
          "1732948320000": 4.9,
          "1732949220000": 5.2,
          "1732950120000": 5,
          "1732951020000": 5,
          "1732951920000": 5.3,
          "1732952820000": 5.7,
          "1732953720000": 5.7,
          "1732954620000": 5.7,
          "1732955520000": 5.7,
          "1732956420000": 5.9,
          "1732957320000": 6.1,
          "1732958220000": 6.1,
          "1732959120000": 6.1,
          "1732960020000": 6.2,
          "1732960920000": 6.3,
          "1732961820000": 6.3,
          "1732962720000": 6.4,
          "1732963620000": 6.5,
          "1732964520000": 6.7,
          "1732965420000": 6.8,
          "1732966320000": 6.9,
          "1732967220000": 7,
          "1732968120000": 7.4,
          "1732969020000": 6.6,
          "1732969920000": 7.4,
          "1732970820000": 7.7,
          "1732971720000": 7.3,
          "1732972620000": 7,
          "1732973520000": 7.1,
          "1732974420000": 6.9,
          "1732975320000": 8.3,
          "1732976220000": 8.6,
          "1732977120000": 9,
          "1732978020000": 9.3,
          "1732978920000": 9.7,
          "1732979820000": 10.7,
          "1732980720000": 10.8,
          "1732981620000": 11.7,
          "1732982520000": 12.9,
          "1732983420000": 13.6,
          "1732984320000": 14.5,
          "1732985220000": 15.9,
          "1732986120000": 18.8,
          "1732987020000": 21.4,
          "1732987920000": 24.7,
          "1732988820000": 31.9,
          "1732989720000": 44.7,
          "1732990620000": 15.5,
          "1732991520000": 3.7,
          "1732992420000": 3.7,
          "1732993320000": 3.6,
          "1732994220000": 3.5,
          "1732995120000": 3.5,
          "1732996020000": 3.5,
          "1732996920000": 3.6,
          "1732997820000": 3.6,
          "1732998720000": 3.5,
          "1732999620000": 3.6,
          "1733000520000": 3.5,
          "1733001420000": 3.6,
          "1733002320000": 3.6,
          "1733003220000": 3.6,
          "1733004120000": 3.4,
          "1733005020000": 3.5,
          "1733005920000": 3.5,
          "1733006820000": 3.6,
          "1733007720000": 3.6,
          "1733008620000": 3.6,
          "1733009520000": 3.5,
          "1733010420000": 3.5,
          "1733011320000": 3.5,
          "1733012220000": 3.6,
          "1733013120000": 3.5,
          "1733014020000": 3.5,
          "1733014920000": 3.5,
          "1733015820000": 3.4,
          "1733016720000": 3.5,
          "1733017620000": 3.5,
          "1733018520000": 3.6,
          "1733019420000": 3.5,
          "1733020320000": 3.6,
          "1733021220000": 3.5,
          "1733022120000": 3.5,
          "1733023020000": 3.5,
          "1733023920000": 3.5,
          "1733024820000": 3.5,
          "1733025720000": 3.4,
          "1733026620000": 3.6,
          "1733027520000": 3.4,
          "1733028420000": 3.5,
          "1733029320000": 3.5,
          "1733030220000": 3.5,
          "1733031120000": 3.5,
          "1733032020000": 3.4,
          "1733032920000": 3.6,
          "1733033820000": 3.5,
          "1733034720000": 3.6,
          "1733035620000": 3.5,
          "1733036520000": 3.6,
          "1733037420000": 3.5,
          "1733038320000": 3.5,
          "1733039220000": 3.6,
          "1733040120000": 3.5,
          "1733041020000": 3.6,
          "1733041920000": 3.5,
          "1733042820000": 3.4,
          "1733043720000": 3.5,
          "1733044620000": 3.5,
          "1733045520000": 3.4,
          "1733046420000": 3.4,
          "1733047320000": 3.5,
          "1733048220000": 3.5,
          "1733049120000": 3.5,
          "1733050020000": 3.5,
          "1733050920000": 3.5,
          "1733051820000": 3.5,
          "1733052720000": 3.4,
          "1733053620000": 3.5,
          "1733054520000": 3.3,
          "1733055420000": 3.3,
          "1733056320000": 3.2,
          "1733057220000": 3.6,
          "1733058120000": 3.4,
          "1733059020000": 3.4,
          "1733059920000": 3.2,
          "1733060820000": 3.6,
          "1733061720000": 3.3,
          "1733062620000": 3.6
        }
      }
    }
  &#93;,
  "memory": [
    {
      "id": "i-09f01c890ec21e132",
      "statistics": {
        "memoryPercentageUsed": {
          "1732631520000": 73.2,
          "1732632420000": 73.3,
          "1732633320000": 73.5,
          "1732634220000": 74.9,
          "1732635120000": 74.5,
          "1732636020000": 73.2,
          "1732636920000": 74.8,
          "1732637820000": 74.8,
          "1732638720000": 73,
          "1732639620000": 72.9,
          "1732640520000": 65.2,
          "1732641420000": 74.9,
          "1732642320000": 73.6,
          "1732643220000": 74.3,
          "1732644120000": 71.9,
          "1732645020000": 74.1,
          "1732645920000": 74.7,
          "1732646820000": 74.2,
          "1732647720000": 75.4,
          "1732648620000": 73.7,
          "1732649520000": 75.2,
          "1732650420000": 75.2,
          "1732651320000": 73.7,
          "1732652220000": 74.7,
          "1732653120000": 72.9,
          "1732654020000": 75.1,
          "1732654920000": 76.3,
          "1732655820000": 74.6,
          "1732656720000": 73.9,
          "1732657620000": 74.9,
          "1732658520000": 74.4,
          "1732659420000": 73.7,
          "1732660320000": 75.7,
          "1732661220000": 74.7,
          "1732662120000": 73.8,
          "1732663020000": 75.1,
          "1732663920000": 75.4,
          "1732664820000": 75.7,
          "1732665720000": 75.8,
          "1732666620000": 74.3,
          "1732667520000": 74.2,
          "1732668420000": 74.9,
          "1732669320000": 75,
          "1732670220000": 69.3,
          "1732671120000": 69.5,
          "1732672020000": 74.2,
          "1732672920000": 76,
          "1732673820000": 75,
          "1732674720000": 75.6,
          "1732675620000": 76.2,
          "1732676520000": 75.2,
          "1732677420000": 77,
          "1732678320000": 74.4,
          "1732679220000": 74.9,
          "1732680120000": 76,
          "1732681020000": 75.1,
          "1732681920000": 75.2,
          "1732682820000": 75.5,
          "1732683720000": 75,
          "1732684620000": 74.5,
          "1732685520000": 75.5,
          "1732686420000": 77.9,
          "1732687320000": 75.2,
          "1732688220000": 77.3,
          "1732689120000": 78.3,
          "1732690020000": 76.4,
          "1732690920000": 76.7,
          "1732691820000": 73.8,
          "1732692720000": 77.3,
          "1732693620000": 76.4,
          "1732694520000": 77.9,
          "1732695420000": 76.9,
          "1732696320000": 74.6,
          "1732697220000": 75.4,
          "1732698120000": 77.8,
          "1732699020000": 77.4,
          "1732699920000": 77.7,
          "1732700820000": 77.3,
          "1732701720000": 72.8,
          "1732702620000": 72.7,
          "1732703520000": 76.2,
          "1732704420000": 79.2,
          "1732705320000": 75.1,
          "1732706220000": 77.7,
          "1732707120000": 77.3,
          "1732708020000": 77.2,
          "1732708920000": 78.2,
          "1732709820000": 77.3,
          "1732710720000": 76.1,
          "1732711620000": 76.5,
          "1732712520000": 77.7,
          "1732713420000": 77.2,
          "1732714320000": 76.9,
          "1732715220000": 77.8,
          "1732716120000": 75.6,
          "1732717020000": 78.4,
          "1732717920000": 76.9,
          "1732718820000": 76.7,
          "1732719720000": 77.6,
          "1732720620000": 77.6,
          "1732721520000": 76.6,
          "1732722420000": 76.7,
          "1732723320000": 76.3,
          "1732724220000": 76.9,
          "1732725120000": 77.9,
          "1732726020000": 78.9,
          "1732726920000": 76.9,
          "1732727820000": 77,
          "1732728720000": 76.1,
          "1732729620000": 78.6,
          "1732730520000": 78.3,
          "1732731420000": 78.7,
          "1732732320000": 78.2,
          "1732733220000": 78.9,
          "1732734120000": 79.7,
          "1732735020000": 75.1,
          "1732735920000": 78.8,
          "1732736820000": 69.3,
          "1732737720000": 76.8,
          "1732738620000": 78.3,
          "1732739520000": 77.8,
          "1732740420000": 79.2,
          "1732741320000": 77.9,
          "1732742220000": 79.5,
          "1732743120000": 77.9,
          "1732744020000": 76.6,
          "1732744920000": 79.2,
          "1732745820000": 77.4,
          "1732746720000": 78.6,
          "1732747620000": 79.1,
          "1732748520000": 77.4,
          "1732749420000": 79,
          "1732750320000": 78.5,
          "1732751220000": 77.4,
          "1732752120000": 78.2,
          "1732753020000": 77.4,
          "1732753920000": 78.7,
          "1732754820000": 79.2,
          "1732755720000": 79.4,
          "1732756620000": 78.4,
          "1732757520000": 79.1,
          "1732758420000": 78.1,
          "1732759320000": 78.4,
          "1732760220000": 78.1,
          "1732761120000": 78,
          "1732762020000": 79.5,
          "1732762920000": 78.6,
          "1732763820000": 79.9,
          "1732764720000": 79,
          "1732765620000": 79.1,
          "1732766520000": 79.5,
          "1732767420000": 68.7,
          "1732768320000": 78,
          "1732769220000": 78.9,
          "1732770120000": 78.8,
          "1732771020000": 78.9,
          "1732771920000": 80.9,
          "1732772820000": 78.9,
          "1732773720000": 78.5,
          "1732774620000": 79.7,
          "1732775520000": 79.2,
          "1732776420000": 80.4,
          "1732777320000": 78.9,
          "1732778220000": 78.9,
          "1732779120000": 79.5,
          "1732780020000": 79.9,
          "1732780920000": 79,
          "1732781820000": 79.4,
          "1732782720000": 78.6,
          "1732783620000": 78.8,
          "1732784520000": 79.7,
          "1732785420000": 80,
          "1732786320000": 80.4,
          "1732787220000": 82.2,
          "1732788120000": 81.1,
          "1732789020000": 78.4,
          "1732789920000": 80.3,
          "1732790820000": 81.2,
          "1732791720000": 79.5,
          "1732792620000": 76.8,
          "1732793520000": 80.8,
          "1732794420000": 79.7,
          "1732795320000": 80.5,
          "1732796220000": 80.2,
          "1732797120000": 79.1,
          "1732798020000": 80.6,
          "1732798920000": 79.5,
          "1732799820000": 79.2,
          "1732800720000": 69.5,
          "1732801620000": 82.3,
          "1732802520000": 80.2,
          "1732803420000": 80.5,
          "1732804320000": 81,
          "1732805220000": 79.9,
          "1732806120000": 82.1,
          "1732807020000": 80.8,
          "1732807920000": 80.9,
          "1732808820000": 80.8,
          "1732809720000": 81,
          "1732810620000": 81.3,
          "1732811520000": 80.6,
          "1732812420000": 81.4,
          "1732813320000": 80.3,
          "1732814220000": 81.1,
          "1732815120000": 81,
          "1732816020000": 80.4,
          "1732816920000": 81.5,
          "1732817820000": 80.5,
          "1732818720000": 82.3,
          "1732819620000": 81.2,
          "1732820520000": 81.2,
          "1732821420000": 82,
          "1732822320000": 82,
          "1732823220000": 80.5,
          "1732824120000": 82.5,
          "1732825020000": 81.5,
          "1732825920000": 81.3,
          "1732826820000": 81,
          "1732827720000": 81.2,
          "1732828620000": 80.9,
          "1732829520000": 80.5,
          "1732830420000": 81.9,
          "1732831320000": 81.8,
          "1732832220000": 82.3,
          "1732833120000": 81.1,
          "1732834020000": 81.4,
          "1732834920000": 71.1,
          "1732835820000": 82.7,
          "1732836720000": 80.8,
          "1732837620000": 82.7,
          "1732838520000": 82.7,
          "1732839420000": 82.3,
          "1732840320000": 80.5,
          "1732841220000": 81.6,
          "1732842120000": 82.4,
          "1732843020000": 82.5,
          "1732843920000": 82.2,
          "1732844820000": 82.1,
          "1732845720000": 83,
          "1732846620000": 81.8,
          "1732847520000": 82.9,
          "1732848420000": 82.3,
          "1732849320000": 82,
          "1732850220000": 83.1,
          "1732851120000": 82.5,
          "1732852020000": 82.4,
          "1732852920000": 82.6,
          "1732853820000": 82.2,
          "1732854720000": 82.5,
          "1732855620000": 82.6,
          "1732856520000": 82.3,
          "1732857420000": 82.9,
          "1732858320000": 82.8,
          "1732859220000": 82.5,
          "1732860120000": 82.8,
          "1732861020000": 83,
          "1732861920000": 82.2,
          "1732862820000": 82.7,
          "1732863720000": 83.1,
          "1732864620000": 82,
          "1732865520000": 83.5,
          "1732866420000": 82.9,
          "1732867320000": 83.2,
          "1732868220000": 82.3,
          "1732869120000": 72.3,
          "1732870020000": 83.1,
          "1732870920000": 83.4,
          "1732871820000": 83.2,
          "1732872720000": 83.4,
          "1732873620000": 83,
          "1732874520000": 83.4,
          "1732875420000": 84.6,
          "1732876320000": 82.9,
          "1732877220000": 83.6,
          "1732878120000": 83.4,
          "1732879020000": 83,
          "1732879920000": 83.2,
          "1732880820000": 84.6,
          "1732881720000": 84,
          "1732882620000": 83.5,
          "1732883520000": 84.8,
          "1732884420000": 81.9,
          "1732885320000": 84,
          "1732886220000": 83.3,
          "1732887120000": 85.1,
          "1732888020000": 85.8,
          "1732888920000": 85.8,
          "1732889820000": 84.5,
          "1732890720000": 82.3,
          "1732891620000": 84.5,
          "1732892520000": 83.1,
          "1732893420000": 83.7,
          "1732894320000": 83.4,
          "1732895220000": 83.5,
          "1732896120000": 82.5,
          "1732897020000": 83.5,
          "1732897920000": 84.3,
          "1732898820000": 83.5,
          "1732899720000": 84.1,
          "1732900620000": 84.8,
          "1732901520000": 84.7,
          "1732902420000": 83.7,
          "1732903320000": 78.9,
          "1732904220000": 78.4,
          "1732905120000": 83.8,
          "1732906020000": 84.3,
          "1732906920000": 84.5,
          "1732907820000": 84.5,
          "1732908720000": 84.2,
          "1732909620000": 84.3,
          "1732910520000": 84.4,
          "1732911420000": 83.9,
          "1732912320000": 84.2,
          "1732913220000": 85,
          "1732914120000": 84.6,
          "1732915020000": 85.1,
          "1732915920000": 84.9,
          "1732916820000": 84.6,
          "1732917720000": 85.4,
          "1732918620000": 84.6,
          "1732919520000": 85,
          "1732920420000": 84.8,
          "1732921320000": 84.9,
          "1732922220000": 85,
          "1732923120000": 85.2,
          "1732924020000": 85.3,
          "1732924920000": 84.6,
          "1732925820000": 85.4,
          "1732926720000": 84.7,
          "1732927620000": 85,
          "1732928520000": 85.1,
          "1732929420000": 84.7,
          "1732930320000": 85.3,
          "1732931220000": 85.4,
          "1732932120000": 86.3,
          "1732933020000": 85.5,
          "1732933920000": 85.2,
          "1732934820000": 85.2,
          "1732935720000": 85.1,
          "1732936620000": 85.8,
          "1732937520000": 85.9,
          "1732938420000": 85.6,
          "1732939320000": 85.8,
          "1732940220000": 68.7,
          "1732941120000": 79.9,
          "1732942020000": 85.4,
          "1732942920000": 85.6,
          "1732943820000": 85.7,
          "1732944720000": 86,
          "1732945620000": 86.2,
          "1732946520000": 86,
          "1732947420000": 85.9,
          "1732948320000": 86.1,
          "1732949220000": 86.3,
          "1732950120000": 86.7,
          "1732951020000": 86.1,
          "1732951920000": 86.3,
          "1732952820000": 85.8,
          "1732953720000": 86.4,
          "1732954620000": 86.3,
          "1732955520000": 86.3,
          "1732956420000": 86.5,
          "1732957320000": 86.7,
          "1732958220000": 86.5,
          "1732959120000": 86.4,
          "1732960020000": 86.5,
          "1732960920000": 86.6,
          "1732961820000": 86.8,
          "1732962720000": 86.4,
          "1732963620000": 86.9,
          "1732964520000": 87.1,
          "1732965420000": 86.5,
          "1732966320000": 86.8,
          "1732967220000": 86.8,
          "1732968120000": 86.7,
          "1732969020000": 86.8,
          "1732969920000": 86.9,
          "1732970820000": 86.6,
          "1732971720000": 87,
          "1732972620000": 87.1,
          "1732973520000": 87,
          "1732974420000": 87.1,
          "1732975320000": 86.9,
          "1732976220000": 87.1,
          "1732977120000": 87,
          "1732978020000": 87,
          "1732978920000": 87.3,
          "1732979820000": 87.2,
          "1732980720000": 87.1,
          "1732981620000": 52.7,
          "1732982520000": 87.3,
          "1732983420000": 87.3,
          "1732984320000": 87.4,
          "1732985220000": 87.5,
          "1732986120000": 87.5,
          "1732987020000": 87.5,
          "1732987920000": 87.6,
          "1732988820000": 87.6,
          "1732989720000": 87.6,
          "1732990620000": 41.7,
          "1732991520000": 48.2,
          "1732992420000": 49.6,
          "1732993320000": 47.2,
          "1732994220000": 48.5,
          "1732995120000": 51.9,
          "1732996020000": 50.4,
          "1732996920000": 50,
          "1732997820000": 50.5,
          "1732998720000": 49.9,
          "1732999620000": 47,
          "1733000520000": 47.3,
          "1733001420000": 45,
          "1733002320000": 47,
          "1733003220000": 46.1,
          "1733004120000": 48.1,
          "1733005020000": 46.6,
          "1733005920000": 47.6,
          "1733006820000": 50,
          "1733007720000": 47.9,
          "1733008620000": 49.5,
          "1733009520000": 48,
          "1733010420000": 47,
          "1733011320000": 48.7,
          "1733012220000": 48.6,
          "1733013120000": 48.6,
          "1733014020000": 50.1,
          "1733014920000": 48,
          "1733015820000": 48.7,
          "1733016720000": 51.8,
          "1733017620000": 49.4,
          "1733018520000": 52.4,
          "1733019420000": 48.7,
          "1733020320000": 42.4,
          "1733021220000": 49.9,
          "1733022120000": 50.8,
          "1733023020000": 48.6,
          "1733023920000": 51.6,
          "1733024820000": 48.7,
          "1733025720000": 51.2,
          "1733026620000": 47.9,
          "1733027520000": 47.8,
          "1733028420000": 47.8,
          "1733029320000": 47,
          "1733030220000": 50.6,
          "1733031120000": 47.9,
          "1733032020000": 47.6,
          "1733032920000": 49.5,
          "1733033820000": 49.8,
          "1733034720000": 49.3,
          "1733035620000": 49.1,
          "1733036520000": 49,
          "1733037420000": 49.5,
          "1733038320000": 49.1,
          "1733039220000": 50.4,
          "1733040120000": 50,
          "1733041020000": 51.6,
          "1733041920000": 50.1,
          "1733042820000": 51,
          "1733043720000": 50.6,
          "1733044620000": 52.1,
          "1733045520000": 48.9,
          "1733046420000": 51.9,
          "1733047320000": 51.8,
          "1733048220000": 51.2,
          "1733049120000": 50.9,
          "1733050020000": 51.7,
          "1733050920000": 51.3,
          "1733051820000": 50.9,
          "1733052720000": 52.8,
          "1733053620000": 43.4,
          "1733054520000": 53,
          "1733055420000": 52.9,
          "1733056320000": 51.4,
          "1733057220000": 52.4,
          "1733058120000": 53.4,
          "1733059020000": 54.7,
          "1733059920000": 54.5,
          "1733060820000": 54.3,
          "1733061720000": 54.9,
          "1733062620000": 50.3
        }
      }
    }
  &#93;
}&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
	
</flow>
	
</mule>
